<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
 <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a  href="/shop">Shop</a></li>
                <li class="main-header__item"><a  href="/admin/add-product">Add Product</a></li>
            </ul>
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/contactus">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action="/success" method="POST">
            <div class="form-control">
                <label for="username">Username:</label>
                <input type="text" name="username">
                <label for="email">Email:</label>
                <input type="email" name="email">
            </div>        
            <button class="btn" type="submit">submit</button>
        </form>
    </main>
</body>
</html>